* {
    font-family: Ubuntu, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 120px 1fr 50px;
    grid-template-areas: 
    'sidebar header'
    'sidebar main'
    'sidebar footer';
    height:100vh;
}

.header-container {
    padding: 10px;
    grid-gap: 10px;
    grid-area: header;
    background-color: #DDF6D2;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    'glass search bell profile-pic name'
    'big-pic intro new upload share';
}

.glass {
    display: grid;
    justify-self: end;
    align-self: center;
}

.search {
    display: grid;
    align-self: center;
}

input {
    border-radius: 15px;
    background-color: #B0DB9C;
}

.bell {
    display: grid;
    align-self: center;
    justify-self: end;
}

.profile-pic {
    display: grd;
    align-self: center;
    justify-self:center;
}

.name {
    display: grid;
    align-self: center;
    justify-self: start;
}

.big-pic {
    display: grid;
    align-self: start;
    justify-self: center;
}

.intro {
    font-size: 13px;
}

button {
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
}   

.sidebar {
    grid-area: sidebar;
    background-color: #B0DB9C;
}

.main {
    grid-area: main;
    background-color: #CAE8BD;
}

.footer {
    grid-area: footer;
    background-color: #DDF6D2;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    margin: 15px;
}

.icons:hover {
    color: darkblue;
}

.blocky {
    margin-top: 15px;
    margin-left: 10px;
}

.theBlocks {
    margin-top: 30px;
}

.dash {
    padding-left: 20px;
    padding-bottom: 20px;;
    display: flex;
    align-items: center;
    gap: 10px;
}

.personal {
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.tech {
    padding-left: 20px;
}

